
 .container {
    position: fixed;
    text-decoration: none; 
   padding: 5px 0 10px 20px;
   outline: none;
   box-sizing: border-box;
   background: transparent;
   display: center;
   /* width: 100vw; */
   height: 40px;
   z-index: 20;
   color: white;
  }

  .nav-links {
   text-decoration: none;
   color: white;
   padding: .5rem;
   display: flex;
   align-items: left;
   background: rgba(50,149,242,0.40);
   z-index: 10;
 }  
 .container .nav-links {
   padding: .5rem 0 0 0;
   display: grid;
   grid-template-columns: 1fr;
   flex-direction: column;
   margin: 0 0 0 40px;
   z-index: 10;
 } 